<h2>Welcome to the {{ title }} Adam!</h2>

<!-- this probably needs to go into the user management component unfortunately -->
<div class="secondarySidenav" [style.width.px] = "secondaryNavWidth" [style.border-right] = "borderRight">
    <!--<ul class="secondarySidenav" [style.width.px] = "secondaryNavWidth" [style.border-right] = "borderRight"> 
        <li><a>Just makin sure</a></li>
        <li><a>that I could</a></li>
        <li><a>actually do this</a></li>
        <li><a>in Typescript</a></li>
        <li><a [routerLink]="['./valid']">Valid Subselection</a></li>
    </ul>-->
</div>