<h2>Welcome to the {{ title }}</h2>
<h4>For some reason this component doesn't fully load until you click a control...</h4>
<h5>Also, first letter typed doesn't show up? hmm...</h5>

<form (submit)="addLumType($event)">
  <input [(ngModel)]="newLumType" (keyup.enter)="newLumType=''" type="text"
    placeholder="Name"/>
  <input #externalWidth type="number" placeholder="External Width"/>
  <input #externalLength type="number" placeholder="External Length"/>
  <button  type="submit" [disabled]="newLumType===''">Add Luminaire Type</button>  
</form>

<ul *ngFor="let lumType of luminaireTypes;let i=index"> <!--is this right? -->
  <li>{{lumType.name}}
    <button class="btn btn-secondary" (click)="deleteLumType(i)">Remove</button>
  </li>
</ul>
    
<!-- A two-way binding example -->
  <div [hidden]="newLumType">
          Type in a new luminaire type...
  </div>
  <div [hidden]="!newLumType">
          Typing: {{ newLumType }}
  </div>

  